<div class="agreements">

  <!-- Mobile -->
  <div class="hide-gt-tablet">
      <h2 class="page-title pt4">AGREEMENTS</h2>
      <p>1222 Values + Guidelines</p>
      <h3 class="agreement-title">1. PEOPLE</h3>
      <p class="pb3">We believe in creating spaces where people can feel comfortable in their own skin. Our events are nothing without the community we keep. We have a ZERO tolerance policy for prejudice, harassment, or overall disrespect of any kind to one another.</p>
      <h3 class="agreement-title">2. SPACES</h3>
      <p class="pb3">Our events are focused on celebrating the community we form for a night, in the spaces we inhabit together. To celebrate, we must also respect; not just one another, but the environment we commune in. (LEAVE NO TRACE!)</p>
      <h3 class="agreement-title">3. ENSEMBLE</h3>
      <p class="pb3">The Ensemble is our select community members that will be walking around the event and at the 1222 table focused on peacekeeping and safety enforcement. If at any point you feel uncomfortable, an Ensemble member will be close by and recognizable ready to help out!</p>
      <h3 class="agreement-title">4. LIABILITY</h3>
      <p class="pb3">While we do our best to ensure a safe environment for those in attendance, we are not liable for any damages to your person or belongings.</p>
      <h3 class="agreement-title">5. PHOTOGRAPHY</h3>
      <p class="pb3">Our events have staffed photographers and videographers. If you come to an event, there is a chance you could be photographed. If you choose to bring your own camera during the event, please make sure that you have the consent of the people you're photographing. If a photo of yourself or of someone you know is published that is in any way disrespectful, harmful, or uncomfortable, please message us and let us know. Otherwise enjoy the capsule.</p>
      <input type="checkbox" id="agreements-checkbox-mobile">
      <label for="agreements-checkbox-mobile">I AGREE TO THE STATEMENTS ABOVE!</label>
      <img src="img/next.png" onclick="letsParty()" alt="next" width="185px" height="50px" class="float-right pt3 pb6 next disabled">
  </div>

  <!-- Desktop -->
  <div class="hide-lt-tablet">
    <h2 class="page-title pt4">AGREEMENTS</h2>
    <p>1222 Values + Guidelines</p>
    <div class="row pb4">
      <div class="one-half column">
        <h3 class="agreement-title">PEOPLE</h3>
        <p>We believe in creating spaces where people can feel comfortable in their own skin. Our events are nothing without the community we keep. We have a ZERO tolerance policy for prejudice, harassment, or overall disrespect of any kind to one another.</p>
      </div>
    </div>
    <div class="row pb4">
      <div class="one-half column">
        <h3 class="agreement-title">SPACES</h3>
        <p>Our events are focused on celebrating the community we form for a night, in the spaces we inhabit together. To celebrate, we must also respect; not just one another, but the environment we commune in. (LEAVE NO TRACE!)</p>
      </div>
    </div>
    <div class="row pb4">
      <div class="one-half column">
        <h3 class="agreement-title">ENSEMBLE</h3>
        <p>The Ensemble is our select community members that will be walking around the event and at the 1222 table focused on peacekeeping and safety enforcement. If at any point you feel uncomfortable, an Ensemble member will be close by and recognizable ready to help out!</p>
      </div>
    </div>
    <div class="row pb4">
      <div class="one-half column">
        <h3 class="agreement-title">LIABILITY</h3>
        <p>While we do our best to ensure a safe environment for those in attendance, we are not liable for any damages to your person or belongings.</p>
      </div>
    </div>
    <div class="row pb3">
      <div class="one-half column">
        <h3 class="agreement-title">PHOTOGRAPHY</h3>
        <p>Our events have staffed photographers and videographers. If you come to an event, there is a chance you could be photographed. If you choose to bring your own camera during the event, please make sure that you have the consent of the people you're photographing. If a photo of yourself or of someone you know is published that is in any way disrespectful, harmful, or uncomfortable, please message us and let us know. Otherwise enjoy the capsule.</p>
      </div>
    </div>
    <div class="row">
      <input type="checkbox" id="agreements-checkbox-desktop">
      <label for="agreements-checkbox-desktop">I AGREE TO THE STATEMENTS ABOVE!</label>
      <img src="img/next.png" onclick="letsParty()" alt="next" width="185px" height="50px" class="float-right pt3 pb4 next disabled">
    </div>
  </div>

</div>