<div class="agreements">

  <!-- Mobile -->
  <div class="hide-gt-tablet">
    <h2 class="page-title pt4">AGREEMENTS</h2>
    <p>1222 believes in creating a safe and responsible space to enjoy music and the community of others.</p>
    <h3 class="agreement-title">1. I WILL RESPECT OTHERS</h3>
    <p class="pb3">I will practice respect & love towards others. Any sexual activity will be practiced with consent. We have a no tolerance policy with regards to racism, sexism, classism, ageism, ableism, homophobia, biphobia, transphobia, xenophobia, Islamophobia or anti-religion or anti-atheism.</p>
    <h3 class="agreement-title">2. I WILL BE SAFE, QUICK, AND QUIET ON MY JOURNEY</h3>
    <p class="pb3">We never want to attract any unnecessary attention. It keeps our gatherings from being shut down.</p>
    <h3 class="agreement-title">3. I WILL LEAVE NO TRACE</h3>
    <p class="pb3">We must be respectful of the spaces we occupy and all people who use it. No trash, vandalism, etc. We respect the community = The community respects us!</p>
    <h3 class="agreement-title">4. I AM RESPONSIBLE FOR MY ACTIONS</h3>
    <p class="pb3">1222 is not liable for any (need rest of paragraph).</p>
    <h3 class="agreement-title">5. CONSENT TO BE PHOTOGRAPHED</h3>
    <p class="pb3">Our events have staffed photographers and videographers. If you come to an event, there is a chance you could be photographed. If you choose to bring your own camera during the event, please make sure that you have the consent of the people your photographing. If a photo of yourself or of someone you know is published on the site that is in anyway disrespectful, harmful, or uncomfortable, please message us and let us know. Otherwise, we hope you enjoy the capsule.</p>
    <input type="checkbox" id="agreements-checkbox">
    <label for="agreements-checkbox">I AGREE TO ALL 4 OF THE STATEMENTS ABOVE</label>
    <img src="img/next.png" onclick="letsParty()" alt="next" width="185px" height="50px" class="float-right pt3 pb6">
  </div>

  <!-- Desktop -->
  <div class="hide-lt-tablet">
    <h2 class="page-title pt4">AGREEMENTS</h2>
    <p>1222 believes in creating a safe and responsible space to enjoy music and the community of others.</p>
    <div class="row pb5">
      <div class="one-half column">
        <input type="checkbox" id="agreements-checkbox-respect">
        <label for="agreements-checkbox-respect">I WILL RESPECT OTHERS<br><br>I will practice respect & love towards others. Any sexual activity will be practiced with consent. We have a no tolerance policy with regards to racism, sexism, classism, ageism, ableism, homophobia, biphobia, transphobia, xenophobia, Islamophobia or anti-religion or anti-atheism.</label>
      </div>
    </div>
    <div class="row pb5">
      <div class="one-half column">
        <input type="checkbox" id="agreements-checkbox-journey">
        <label for="agreements-checkbox-journey">I WILL BE SAFE, QUICK, AND QUIET ON MY JOURNEY<br><br>We never want to attract any unnecessary attention. It keeps our gatherings from being shut down.</label>
      </div>
    </div>
    <div class="row pb5">
      <div class="one-half column">
        <input type="checkbox" id="agreements-checkbox-trace">
        <label for="agreements-checkbox-trace">I WILL LEAVE NO TRACE<br><br>We must be respectful of the spaces we occupy and all people who use it. No trash, vandalism, etc. We respect the community = The community respects us!</label>
      </div>
    </div>
    <div class="row pb5">
      <div class="one-half column">
        <input type="checkbox" id="agreements-checkbox-actions">
        <label for="agreements-checkbox-actions">I AM RESPONSIBLE FOR MY ACTIONS<br><br>1222 is not liable for any (need rest of paragraph).</label>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <input type="checkbox" id="agreements-checkbox-photograph">
        <label for="agreements-checkbox-photograph">CONSENT TO BE PHOTOGRAPHED<br><br>Our events have staffed photographers and videographers. If you come to an event, there is a chance you could be photographed. If you choose to bring your own camera during the event, please make sure that you have the consent of the people your photographing. If a photo of yourself or of someone you know is published on the site that is in anyway disrespectful, harmful, or uncomfortable, please message us and let us know. Otherwise, we hope you enjoy the capsule.</label>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <img src="img/next.png" onclick="letsParty()" alt="next" width="185px" height="50px" class="float-right pt3 next disabled">
      </div>
    </div>
  </div>

</div>