<div class="container footer">
    
    <!-- Mobile -->
    <div class="hide-gt-tablet">
      <div class="row mb3">
        <div class="border"></div>
        <a href="https://twitter.com/1222_pro" class="twelve columns pt2">TWITTER</a>
        <a href="https://www.instagram.com/1222.productions/" class="twelve columns">INSTAGRAM</a>
        <a class="twelve columns">CONTACT</a>
      </div>
    </div>

    <!-- Desktop -->
    <div class="hide-lt-tablet">
      <div class="row mb5">
        <div class="items">
          <div class="border"></div>
          <div class="pt3">
            <a href="https://twitter.com/1222_pro">TWITTER</a>
            <a href="https://www.instagram.com/1222.productions/" class="pl4">INSTAGRAM</a>
            <a class="pl4">CONTACT</a>
          </div>
        </div>
      </div>
    </div>

</div>