<div class="container">
  <div class="row pt4">
    <img id="logo" src="img/logo_transparent.svg" alt="logo" class="float-left">
    <a href="/capsule" class="float-right">CAPSULE</a>
    <a href="/join" class="float-right pr4">ACCESS</a>
  </div>
</div>