<div class="container">
  <div class="row pt4">
    <img src="img/logo_transparent.png" alt="logo" width="90px" height="50px" class="float-left">
    <a href="/capsule" class="float-right">CAPSULE</a>
    <a href="/join" class="float-right pr4">JOIN</a>
  </div>
</div>