<div class="capsule">
  {{#row images 2}}
    <div class="row">
    {{#each columns}}
      <div class="one-half column pr1 pt4 pb3">
        <img src="{{this}}" class="shot">
      </div>
    {{/each}}
    </div>
  {{/row}}
</div>