<div class="join">

  <!-- Mobile -->
  <div class="hide-gt-tablet">
  	<p class="pt4">ENTER ACCESS CODE</p>
    <input id="access-code" type="text" maxlength="6" autocomplete="off" autofocus/>
    <div class="error hide">
      <img src="img/error.png" alt="invalid access code" width="17px" height="32px" class="float-left pr2">
      <p class="error-message pt1">INVALID ACCESS CODE</p>
    </div>
    <img src="img/next.png" onclick="validateAccessCode()" alt="next" width="185px" height="50px" class="float-right next hide">
    <img src="img/mobile_join.png" alt="text 1-222 to 888-563-6388 to join!" width="100%" class="py4">
  </div>

  <!-- Desktop -->
  <div class="hide-lt-tablet">
    <p class="py4">Enter the access code for the soirée or join by texting “ENSEMBLE” to 888-563-6388</p>
    <input id="access-code-desktop" type="text" maxlength="6" autocomplete="off" autofocus/>
    <div class="error hide">
      <img src="img/error.png" alt="invalid access code" width="17px" height="32px" class="float-left pr2">
      <p class="error-message pt1">INVALID ACCESS CODE</p>
    </div>
    <div class="my6">&nbsp</div>
    <p class="disclaimer">* BY JOINING, I AGREE TO 1222 AT MY OWN RISK</p>
  </div>

</div>