<div class="join">

  <!-- Mobile -->
  <div class="hide-gt-tablet">
  	<p class="pt4">ENTER ACCESS CODE</p>
    <input id="access-code" type="text" maxlength="6" autocomplete="off" autofocus/>
  </div>

  <!-- Desktop -->
  <div class="hide-lt-tablet">
    <p class="py4">Enter the access code for the soirée or join by texting “1222” to 512-456-7890</p>
    <input id="access-code-desktop" type="text" maxlength="6" autocomplete="off" autofocus/>
    <div class="my6">&nbsp</div>
    <p class="disclaimer">* BY JOINING, I AGREE TO 1222 AT MY OWN RISK</p>
  </div>

</div>